
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- */


body, html {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#frame {
}



#canvas-frame {
    margin: 0 310px 0 0;
    padding: 30px;
    /* border: solid red 1px; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#canvas-inner-frame {
    /* border: solid blue 1px; */

    width: 90vh;
    height: 90vh;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#toolbox{
    width: 220px;
    background-color: #f5f5f5;
    color: #666;

    position: absolute;
    top: 30px;
    right: 30px;

    padding: 20px;


    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    box-shadow:         1px 1px 6px 0px #ccc;
}


h1 {
    display: inline-block;
    font-size: 100%;
    margin: 0;
    padding: 2px;
}

.toolbox-separator {
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.toolbox-separator div {
    height: 1px;
    background-color: #ccc;
}

.toolbox-separator span {
    font-size: 70%;
    font-weight: bold;
    color: #999;
    position: absolute;
    background-color: #f5f5f5;
    top: -5px;
    left: 80px;
    right: 80px;
}

.toolbox-line {
    position: relative;
}

.toolbox-line.top {
    margin-bottom: 20px;
}

.toolbox-line.form{
    margin: 15px 0px;
}

.toolbox-line.form label {
    display: inline-block;
    width: 100px;
    font-size: 90%;
}

.toolbox-line.form input,
.toolbox-line.form select {
    display: inline-block;
    width: 70px;
    padding: 2px;
    font-size: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid #ccc 1px;
}

.toolbox-line.form input,
.toolbox-line.form select
{
    text-align: right;
    font-family: monospace;
}

.toolbox-line.form span.unit {
    display: inline-block;
    margin: 2px 0 0 4px;
    font-size: 80%;
}

.toolbox-line.big-button{
    text-align: center;
}
.toolbox-line.big-button button{
    width: 200px;
    padding: 5px;
}


#status-text {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;

    color: #fff;
    padding: 4px 6px;
    font-size: 75%;
    
    border-radius: 5px;
}

#status-text.ok {
    background-color: green;
}

#status-text.err {
    background-color: red;
}

#status-text.warn {
    background-color: orange;
}

#status-text.info {
    background-color: grey;
}